snippet conlog
	console.log(${1:Something to log});

snippet /**
	/**
	 * ${1:Description of the function}
	 */

snippet sysout
	System.out.println(${1:Something to print});

snippet lth-image-text
	<lth-image-text class="${1:class}" layout="${2:layout}">
		${3:content}
	</lth-image-text>

snippet import
	import {${1:identities}} from "${2:location}";

snippet component
	<${1:component} class="${2:class}"${3}>
		${4}
	<$1>

snippet '
	'${1}'

snippet "
	"${1}"
