snippet conlog
	console.log(${1:Something to log});

snippet /**
	/**
	 * ${1:Description of the function}
	 */

snippet sysout
	System.out.println(${1:Something to print});

snippet import
	import {${1:identities}} from "${2:location}";

snippet component
	<${1:component} class="${2:class}"${3}>
		${4}
	<$1>

snippet '
	'${1}'

snippet "
	"${1}"

snippet `
	\`${1}\`

snippet {
	{${1}}

snippet (
	(${1})

snippet [
	[${1}]

snippet <
	<${1}>

