snippet import
	@import '${0}';

snippet xs
	@include mix-extra-small-device {

		${0}
	}

snippet sm
	@include mix-small-device {

		${0}
	}

snippet md
	@include mix-medium-device {

		${0}
	}

snippet lg
	@include mix-large-device {

		${0}
	}

snippet flex
	@extend %display-flex;

snippet flexi
	@include %display-flex;
