snippet plug
	Plug '${1:plugin}'

snippet function
	function! ${1:name}(${2})
		${0}
	endfunction

snippet while
	while ${1:condition}
		${0}
	endwhile

snippet if
	if ${1:condition}
		${0}
	endif

snippet leader
	nnoremap <Leader>

snippet bmap
	cnoreabbrev ${1:less} !$1

snippet sys
	system(${0})
