# Ignore everything except for a explicitly specified files
/*
/*/
!.gitignore
!.vimrc
!README.md
!autoload/
!colors/
!functions.vim
!general.vim
!install.sh
!plugin/
!plugins.vim
!snippets/
autoload/plug*
