# Ignore everything except for a explicitly specified files
/*
/*/
!.gitignore
!.vimrc
!README.md
!autoload/
!coc-settings.json
!colors/
!functions.vim
!general.vim
!install.sh
!plugins.vim
!snippets/
autoload/plug*
