# Ignore everything except the install script, the .vimrc, the markdown file
# and the .gitignore
/*
/*/
!autoload/
!colors/
!.gitignore
!snippets/
!.vimrc
!functions.vim
!plugins.vim
!general.vim
!install.sh
!README.md
autoload/plug*
